.card-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px 25%;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px 20px;
    /* Add some padding inside the card container */
    h2 {
        padding: 2px 16px;
    }
}
