@import "./variables/variables";

body {
    color: $text-color;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 1.5rem;
        background-color: #222222;
        min-height: 100vh;

        .header {
            width: 100%;
            margin: 20px 20px;
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;

            .search-icon {
                margin: 25px;
                font-size: 25px;

                &:hover {
                    cursor: pointer;
                }
            }

            .logout-btn {
                margin: 25px;
                font-size: 25px;
                padding: 10px;
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                    background-color: slategray;
                    opacity: 75%;
                }
            }
        }

        .link-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 25px;
            width: 90%;
        }
    }
}
